@import "tailwindcss";


.input {
  @apply w-full p-2.5 rounded-lg bg-white/15 text-white border border-white/30 
  focus:border-pink-500 focus:ring-2 focus:ring-pink-500/30 outline-none text-sm;
}

.error {
  @apply text-yellow-300 text-xs mt-1;
}


.select-glass {
  @apply bg-white/15 backdrop-blur-xl border border-white/30 text-white rounded-lg
  px-3 py-2 text-sm appearance-none 
  focus:ring-2 focus:ring-pink-500/30 focus:border-pink-500 outline-none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' fill='white'%3e%3cpolygon points='0,0 14,0 7,8'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.7rem center;
  background-size: 12px;
}


.input {
  @apply w-full p-2.5 rounded-lg bg-white/12 text-white text-sm border border-white/20
  focus:border-pink-500 focus:ring-2 focus:ring-pink-500/20 outline-none;
}
